@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-primary: #00ff9d;
  --color-background: #0a0a0a;
  --color-surface: #121212;
}

@layer base {
  body {
    @apply font-sans bg-background text-white min-h-screen flex flex-col;
  }
}